body {
	font-family: "ヒラギノ角ゴ ProN W3";
	background-image: url('othello.png'); /* 画像ファイルのパス */
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
}

header {
	text-align: center;
	font-size: 20px;
}

table , td {
	border: 2px solid black;
	border-collapse: collapse;
	background-color: green;
	width: 500px;
	height: 500px;
	margin: auto;
}

td {
	padding: 3px;
	width: 30px;
	height: 25px;
	font-size: 50px;
	text-align: center;
	height: 80px;
	width: 80px;	
}

td[data-row="rowTop"], td[data-row="rowBottom"] {
	background: black;
	height: 1px;
}

td[data-col="leftTop"], td[data-col="rightTop"] {
	background: black;
	width: 1px;
}

.grid:hover {
	background-color: #4444;
}

#passButton {
	color: #000;
	font-size: 20px;
	background-color: #fff100;
	border-radius: 5px;
	border-bottom: 5px solid #bbb201;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	width: 100px;
	height: 50px;
}

#resultButton {
	color: #000;
	font-size: 20px;
	background-color: #c2d7e0;
	border-radius: 5px;
	border-bottom: 5px solid #9d9d96;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	margin-left: 20px;
	width: 150px;
	height: 50px;
}

#resultButton:hover {
	background-color: #a7a7a0;
}

#passButton:hover {
	background-color: #ccc100;
}

footer {
	text-align: center;
}

#end {
	visibility: hidden;
	font-size: 30px;
	text-align: center;
	background-color: rgb(56, 56, 50, 0.8);
	color: #fff;
	width: 400px;
	height: 300px;
	position: absolute;
	top: 200px;
	/* left: 430px; */
	left: 730px;
	margin: auto;
}

#reloadButton {
	color: #000;
	font-size: 15px;
	background-color: #fff;
	border-radius: 5px;
	border-bottom: 5px solid #8b8b89;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	width: 100px;
	height: 45px;	
}

#reloadButton:hover {
	background-color: #a1a19e;
}

#error {
	visibility: hidden;
	font-size: 20px;
	text-align: center;
	background-color: rgba(196, 18, 32, 0.9);
	color: #fff;
	width: 200px;
	height: 100px;
	position: absolute;
	top: 320px;
	/* left: 530px; */
	left: 830px;
	margin: auto;
}
